@model Messages.Web.ViewModels.MessageListVM
@{
    ViewBag.Title = "List of messages";
}

<h2>List of messages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Date
        </th>
        <th>
            Message
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Messages)
    {
        <tr>
            <td>
                <a href="@Url.Action("List", "Messages", new { userId = item.User.Id })">
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
        </tr>
    }
</table>

@Html.BootstrapPager(
    page: Model.Pager.Page,
    action: page => Url.ChangePage(page),
    totalItems: Model.TotalCount,
    pageSize: Model.Pager.PageSize)
